<div class="posts">
  <% @posts.each do |post| %>
  <section class="post">
    <h2 class="post-title">
      <%= link_to post.name, post %>
    </h2>
    <p class="post-meta">
      <div class="post-author">
        By <%= post.user.email %>
      </div>
      written at <%= post.created_at %>
    </p>
    <div class="post-description">
      <p>
        <%= post.description %>
      </p>
  </section>
  <% end %>
</div>
